<form [formGroup]="userForm" (ngSubmit)="onSubmitUserForm()">
  <div fxLayout="row">
    <div fxFlex="100">
      <app-text-input
        [customFormControlName]="'name'"
        [label]="'Name'">
      </app-text-input>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100">
      <app-date-input
        [customFormControlName]="'birthdate'"
        [label]="'Choose a date'">
      </app-date-input>
    </div>
  </div>
  <app-user-address
    [addressesArray]="addressesArray"
    [userForm]="userForm"
  ></app-user-address>
  <div fxLayout="row" class="mb-1">
    <div fxFlex="100">
      <button mat-raised-button color="primary" type="button" (click)="addAddress()">Add Address</button>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100">
      <button [disabled]="!userForm.valid" mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </div>
</form>
