<form class="my-3" [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col-6">
      <app-text-input
        [label]="'Name'"
        [formControl]="formUtilitiesService.getControl(personForm, 'name')"
        [name]="'name'"
        [formName]="'personForm'"
        [customErrorMessages]="personFormFormCustomErrorsData().name"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <app-date-input
        [label]="'Birthdate'"
        [formControl]="formUtilitiesService.getControl(personForm, 'birthdate')"
        [name]="'birthdate'"
        [formName]="'personForm'"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <app-person-address
        [addressesArray]="addressesArray()"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <app-button
        [color]="'primary'"
        [text]="'Add Address'"
        [type]="'button'"
        (buttonClicked)="onAddAddress()"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <app-button
        [color]="'primary'"
        [text]="'Save'"
        [type]="'submit'"
        [isDisabled]="!personForm.valid || isLoading()"
      />
    </div>
  </div>
</form>
