<table class="table table-bordered table-hover text-center">
  <thead>
  <tr>
    @for (header of dataTableConfig().columns; track header.dataProperty) {
      <th scope="col">
        <span>{{ header.title }}</span>
      </th>
    }
  </tr>
  </thead>
  <tbody>
    @if (isLoading()) {
      <tr>
        <td colspan="12">
          <app-spinner></app-spinner>
        </td>
      </tr>
    }
    @for (item of items(); track item[idKey()]) {
      <tr>
        @if (!isLoading() && items().length > 0) {
          @for (header of dataTableConfig().columns; track header.dataProperty) {
            <td>
              @switch (header.columnType) {
                @case (columnTypeEnum.date) {
                  {{ item[header.dataProperty] | customDate }}
                }
                @case (columnTypeEnum.string) {
                  {{ item[header.dataProperty] | validateType }}
                }
                @case (columnTypeEnum.number) {
                  {{ item[header.dataProperty] | validateType }}
                }
              }
            </td>
          }
        }
      </tr>
    }
    @if (!isLoading() && items().length === 0) {
      <tr>
        <td colspan="12">
          <span>No items to display</span>
        </td>
      </tr>
    }
  </tbody>
</table>

