<div>{{items | json}}</div>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    @for (header of dataTableConfig().columns; track header.dataProperty) {
<!--      <th scope="col" [ngClass]="{'pointer': header.isSortable}" (click)="onSortItems(header)">-->
      <th scope="col" [ngClass]="{'pointer': header.isSortable}">
        @if (!header.isSortable) {
          <span>{{ header.title }}</span>
        } @else {
          <div class="icon-th">
            <span>{{ header.title }}</span>
<!--            @if (header.sortDirection === sortDirectionEnum.desc) {-->
<!--              <i class="material-icons">arrow_downward</i>-->
<!--            } @else if (header.sortDirection === sortDirectionEnum.asc) {-->
<!--              <i class="material-icons">arrow_upward</i>-->
<!--            }-->
          </div>
        }
      </th>
    }
  </tr>
  </thead>
  <tbody>
      @if (isLoading()) {
        <tr>
          <td colspan="12">
            <app-spinner></app-spinner>
          </td>
        </tr>
      }
    @for (item of items(); track item[idKey()]) {
      <tr>
        @if (!isLoading() && items().length > 0) {
          @for (header of dataTableConfig().columns; track header.dataProperty) {
            <td>
              @switch (header.columnType) {
                @case (columnTypeEnum.date) {
                  {{ item[header.dataProperty] | date:"dd/MM/yyyy" }}
                }
                @case (columnTypeEnum.string) {
                  {{ item[header.dataProperty] | validateType }}
                }
                @case (columnTypeEnum.number) {
                  {{ item[header.dataProperty] | validateType }}
                }
              }
            </td>
          }
        }
      </tr>
    }
<!--    @if (!isLoading() && paginationData.itemsCount === 0) {-->
    @if (!isLoading()) {
      <tr>
        <td colspan="12">
          <span>No items to display</span>
        </td>
      </tr>
    }
  </tbody>
</table>

<!--@if (!isLoading() && paginationData.itemsCount > 0) {-->
<!--  <app-pagination />-->
<!--}-->
