/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer {
  cursor: pointer;
}

// spacing

.p-1 {
  padding: 1rem !important;
}

.pr-1 {
  padding-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

// text
.main-text {
  font-size: 30px;
  font-weight: bold;
}

// flex
.align-self-center {
  align-self: center;
}
